.fi-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.fi:before {
  content: '\00a0';
}
.fi.fis {
  width: 1em;
}

.fi-gb {
  background-image: url(../../../node_modules/flag-icons/flags/4x3/gb.svg);
}
.fi-gb.fis {
  background-image: url(../../../node_modules/flag-icons/flags/1x1/gb.svg);
}
.fi-ru {
  background-image: url(../../../node_modules/flag-icons/flags/4x3/ru.svg);
}
.fi-ru.fis {
  background-image: url(../../../node_modules/flag-icons/flags/1x1/ru.svg);
}
