<ng-container (click)="openDialog()">
  @if (is_button) {
    <button mat-button class="button" (click)="click_button()">{{text_value}}</button>
  }
  @if (is_video) {
    <button mat-button class="button" (click)="open_video()"
      [disabled]="!item.val || item.val.value == null"
      ><mat-icon>play_arrow</mat-icon><span i18n="@@CONTROL.START">Пуск</span></button>
    }

    @if (is_file) {
      @if (!is_loading) {
        <div>
          <input type="file" (change)="handleFileInput($event.target)" #photoInput/>
          <button mat-button class="button" (click)="photoInput.click()" i18n="@@CONTROL.LOAD">Загрузить</button>
        </div>
      }
      @if (is_loading) {
        <div class="progress_in_center">
          <label i18n="@@DEVICE_ITEM.LOADING">Загрузка</label>
        </div>
      }
    }

    <div class="base_box">
      @if (is_toggle) {
        <mat-slide-toggle
          color="primary"
          [checked]="item.val && item.val.value == 1"
          [disabled]="(!item.val || item.val.value == null) || cantChange || is_loading"
          (change)="write($event.checked)">
        </mat-slide-toggle>
      }

      <div [class.holding]="is_holding">
        @if (!is_toggle && !is_button && !is_file && !is_video) {
          <span>{{text_value}}</span>
        }
        @if (sign_available && item.val.value != null) {
          <span>{{item.type.sign.name}}</span>
        }
      </div>

      @if (is_loading) {
        <mat-progress-spinner
          diameter="22"
          mode="indeterminate">
        </mat-progress-spinner>
      }
    </div>
  </ng-container>
