<h1 mat-dialog-title>{{data.name || data.type.name}}</h1>
<div mat-dialog-content>
  <p i18n="@@DEVICE_ITEM.HOLDING_REGISTER_DIALOG_CANCEL">Установку значения нельзя отменить. Вы уверены что хотите сделать это?</p>

  @if (values) {
    <mat-form-field>
      <mat-select [(value)]="value">
        @for (title of values ; track title; let i = $index) {
          <mat-option [value]="i">{{title}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  @if (!values) {
    <mat-slider
      [disabled]="data.val.value == null"
      showTickMarks
      [max]="max" min="0" step="1"
      [(ngModel)]="value">
		<input matSliderThumb>
    </mat-slider>
  }
  <mat-form-field>
    <input [type]="input_type" matInput i18n-placeholder="@@DEVICE_ITEM.VALUE" placeholder="Значение" [(ngModel)]="value">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" i18n="@@CONTROL.CANCEL2">Нет спасибо</button>
  <button mat-button [mat-dialog-close]="value" cdkFocusInitial i18n="@@CONTROL.OK">Ok</button>
  @if (auto_detect) {
    <h6 class="text_mode_link"><a (click)="set_string_type()" i18n="@@DEVICE_ITEM.HOLDING_TYPE_MODE">Нажмите если нужно ввести текст</a></h6>
  }
</div>
