.hue-line > * {
  display: inline-block;
}

.hue-line > div {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
}

.hue-line > canvas {
  height: 38px;
  width: calc(100% - 38px);
}

