:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.has-error {
    color: #ff3b30;
}

.width-and-clear {
	width: 100%;
	clear: both;
}

.widther {
	max-width: 300px;
	min-width: 200px;
	width: 100%;
}

.bottom-border {
	border-bottom: 1px solid black;
}

.smaller-font {
	font-size: 15px;
}

.top-margin {
	margin-top: 30px
}

#add-form {
	padding-left: 15px;
}

#add-form mat-card-actions{
	padding-left: 5px;
}

#create-form mat-form-field,
#create-form mat-checkbox,
#create-form mat-card-actions {
	display: block;
	margin-bottom: 30px;
}

#create-form mat-card-actions, 
#create-form mat-checkbox {
	padding-left: 15px;
}

.additional-bottom-margin {
	margin-bottom: 40px !important;
}

::ng-deep .mat-checkbox-label {
	white-space: normal;
}

::ng-deep .mat-autocomplete-panel,
::ng-deep .mat-autocomplete-panel-above {
	border: 1px solid black;
	background: white;
}

.autocompleteInput {
	max-width: 100%;
	width: 300px;
}
 
.mat-option:hover {
	background: #eee;
}