<h2 i18n="@@SPACE.ADD.JOIN">Присоединиться</h2>
<form class="join-form">
	<mat-form-field class="join-input">
		<mat-label i18n="@@SPACE">Пространство</mat-label>
		<input matInput
			type="text"
			[formControl]="spaceAutocomplete"
			[matAutocomplete]="auto"
			i18n-placeholder="@@SPACE.ADD.JOIN.INPUT_PLACEHOLDER"
			placeholder="Введите название пространства"
			(input)="onAutoInputChange($event.target.value)"
		>
		<mat-hint class="red" *ngIf="!selectedSpace && isSpaces" i18n="@@SPACE.ADD.JOINFORM.CHOOSESPACE">Выберите пространство в выпадающем списке</mat-hint>
		<mat-hint class="red" *ngIf="!isSpaces && !firstGetList && !isGettingSpaces" i18n="@@SPACE.ADD.JOINFORM.SPACENOTFOUND">Пространства не найдены</mat-hint>
		<mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySpaceName" (optionSelected)="onSelectOption($event.option)">
			<mat-option *ngFor="let space of spaces$ | async" [value]="space">
				{{ space.name }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-card-actions>
		<button mat-button type="submit" [disabled]="!selectedSpace" (click)="sendRequestToJoin()" i18n="@@SPACE.ADD.JOIN.SENDBTN">Отправить</button>
	</mat-card-actions>
</form>

<hr>
<h2 i18n="@@SPACE.ADD.CREATE">Создать</h2>
<form [formGroup]="createForm" (ngSubmit)="onSubmitCreate(createForm.value)">
	<mat-form-field appearance="fill">
		<mat-label i18n="@@SPACE.ADD.CREATE.NAME">Название</mat-label>
		<input matInput type="text" (input)="onNameChange($event.target.value)" formControlName="name"/>
		<mat-hint class="red" *ngIf="createForm.get('name').errors?.['required']" i18n="@@SPACE.ADD.CREATE.NAMEREQUIRED">Введите название</mat-hint>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label i18n="@@SPACE.KEY">Ключ</mat-label>
		<input matInput type="text" spaceKeyExists formControlName="key" (input)="onKeyChange($event.target.value)"/>
		<mat-hint class="red" *ngIf="createForm.get('key').errors?.keyExists" i18n="@@SPACE.ADD.CREATE.KEYISBUSY">Ключ занят</mat-hint>
		<mat-hint class="red" *ngIf="createForm.get('key').errors?.['required']" i18n="@@SPACE.ADD.CREATE.KEYREQUIRED">Введите ключ</mat-hint>
		<mat-hint class="red" *ngIf="createForm.get('key').errors?.['pattern']" i18n="@@SPACE.ADD.CREATE.KEYPATTERN">Допустимые символы: _, a..z, 0..9</mat-hint>
	</mat-form-field>
	<mat-checkbox i18n="@@SPACE.ADD.CREATE.APPROVE" formControlName="requestsAllowed">Разрешить отправлять запросы на присоединение</mat-checkbox>
	<mat-card-actions>
		<button mat-button type="submit" i18n="@@SPACE.ADD.CREATE.CREATEBTN" [disabled]="createForm.pending || createForm.invalid">Создать</button>
	</mat-card-actions>
</form>
