[submodule "src/back/third_party/userver"]
	path = src/back/deps/userver
	url = https://github.com/lirik90/userver.git
[submodule "src/back/third_party/jwt-cpp"]
	path = src/back/deps/jwt-cpp
	url = https://github.com/lirik90/jwt-cpp.git
