<ng-container >
  <div class="heading">
    <h2 i18n="@@SPACES.DETAIL.INVITATIONS.HEADING">Приглашения</h2>
    @if (currentSpace) {
      <button mat-icon-button (click)="onAdd(currentSpace)"><mat-icon>add</mat-icon></button>
    }
  </div>
  <div>
    <!-- form for inviting user -->
    @if (!isFormHidden) {
      <form class="row we-invited" [formGroup]="form" (ngSubmit)="onSubmit()">
        @if (!currentSpace) {
          <div>
            <span>{{formSpaceName}}</span>
          </div>
        }
        <div class="fill-width">
          <mat-form-field appearance="fill">
            <mat-label i18n="@@USER">Пользователь</mat-label>
            <input matInput type="text" formControlName="login" [matAutocomplete]="auto" required />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserLogin">
              @for (user of users$ | async; track user) {
                <mat-option [value]="user">
                  {{ user.login }}
                </mat-option>
              }
            </mat-autocomplete>
            @if (hasUsers !== undefined && !hasUsers) {
              <mat-hint class="red" i18n="@@SPACE.LIST.INVITATIONS.ADDFORM.USERNOTEXISTS">Пользователь не найден</mat-hint>
            }
            @if (form.get('login').errors?.required) {
              <mat-hint class="red" i18n="@@SPACE.LIST.INVITATIONS.ADDFORM.LOGINREQUIRED">Введите логин</mat-hint>
            }
            @if (hasUsers && !formUser && !form.get('login').errors?.required) {
              <mat-hint class="red" i18n="@@SPACE.LIST.INVITATIONS.ADDFORM.CHOOSEUSER">Выберите пользователя в выпадающем списке</mat-hint>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label i18n="@@SPACE.ROLE">Роль</mat-label>
            <mat-select formControlName="role">
              <!--Здесь нужно выводить роли, полученные с бэка, а не хардкодить значения, как сейчас-->
              <mat-option [value]="3" i18n="@@SPACES.LIST.INVITATIONS.ADDFORM.ROLES.ADMIN">Администратор</mat-option>
              <mat-option [value]="2" i18n="@@SPACES.LIST.INVITATIONS.ADDFORM.ROLES.USER">Пользователь</mat-option>
              <mat-option [value]="1" i18n="@@SPACES.LIST.INVITATIONS.ADDFORM.ROLES.OPERATOR" selected>Оператор</mat-option>
            </mat-select>
            @if (form.get('role').errors?.required) {
              <mat-hint class="red" i18n="@@SPACE.LIST.INVITATIONS.ADDFORM.ROLEREQUIRED">Выберите роль</mat-hint>
            }
          </mat-form-field>
        </div>
        <div><button mat-icon-button type="submit" [disabled]="form.invalid || !formUser"><mat-icon>done</mat-icon></button></div>
        <div><button mat-icon-button (click)="onFormCloseBtn()"><mat-icon>close</mat-icon></button></div>
      </form>
    }
    <!-- end form for inviting user -->

    <!-- listing invitations -->
    @if (total > 0) {
      <span>
        @for (item of items; track item) {
          <fieldset
            class="row"
            [class.my-request]="item.type == TYPE.MY_REQUEST"
            [class.i-was-invited]="item.type == TYPE.I_WAS_INVITED"
            [class.we-invited]="item.type == TYPE.WE_INVITED"
            [class.wants-to-join]="item.type == TYPE.WANTS_TO_JOIN"
            >
            @if (item.type == TYPE.MY_REQUEST) {
              <legend i18n="@@SPACE.INVITATION_LIST.MY_REQUEST">Мой запрос</legend>
            }
            @if (item.type == TYPE.I_WAS_INVITED) {
              <legend i18n="@@SPACE.INVITATION_LIST.I_WAS_INVITED">Меня пригласили</legend>
            }
            @if (item.type == TYPE.WE_INVITED) {
              <legend i18n="@@SPACE.INVITATION_LIST.WE_INVITED">Мы пригласили</legend>
            }
            @if (item.type == TYPE.WANTS_TO_JOIN) {
              <legend  i18n="@@SPACE.INVITATION_LIST.WANTS_TO_JOIN">Хочет к нам</legend>
            }
            @if (!currentSpace) {
              <div [class.fill-width]="item.userId == currentUserId">{{item.spaceName}}</div>
            }
            @if (item.userId != currentUserId) {
              <div
                class="fill-width"
                [matTooltip]="item.userLogin + ' ' + item.userEmail"
                matTooltipPosition="below">
                {{item.userDisplayName}}
              </div>
            }
            @if (item.userId != currentUserId) {
              <div>
                <mat-form-field [class.required]="!item.roleId">
                  <mat-select [(ngModel)]="item.roleId" (selectionChange)="changeRole($event.value, item)" required>
                    <!--Здесь нужно выводить роли, полученные списком с бэка, а не хардкодить значения, как сейчас-->
                    <mat-option [value]="3" i18n="@@SPACES.LIST.ADMINROLE">Администратор</mat-option>
                    <mat-option [value]="2" i18n="@@SPACES.LIST.USERROLE">Пользователь</mat-option>
                    <mat-option [value]="1" i18n="@@SPACES.LIST.OPERATORROLE">Оператор</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            }
            @if (item.type == TYPE.I_WAS_INVITED) {
              <div>
                <button mat-raised-button i18n="@@SPACES.LIST.INVITATIONS.JOINBTN" (click)="approveInvitation(item)">Присоединиться</button>
              </div>
            }
            @if (item.type == TYPE.WANTS_TO_JOIN) {
              <div>
                <button mat-raised-button i18n="@@SPACES.LIST.INVITATIONS.APPROVEBTN" (click)="approveInvitation(item)" [disabled]="!item.roleId">Одобрить</button>
              </div>
            }
            <div>
              <button mat-icon-button (click)="onDelBtn(item)"><mat-icon>close</mat-icon></button>
            </div>
          </fieldset>
        }
      </span>
    }
  </div>

  <mat-paginator #paginator [style.display]="(total == 0) ? 'none' : 'block'"
    [length]="total"
    [pageSize]="pageSize"
    [pageSizeOptions]="[7, 15, 30, 100]"
    (page)="getItems($event.pageSize, $event.pageIndex)"
  ></mat-paginator>
</ng-container>
