@if (!isLoading) {
  <div class="buttons">
    @for (m of mnemoscheme; track m) {
      <button mat-raised-button [color]="selected === m.id ? 'primary' : null" (click)="select(m.id)">{{ m.title }}</button>
    }
  </div>
}
@if (mnemoscheme?.length === 0 && !isLoading) {
  <div i18n="@@CONTROL.NO_ANYONE">Нет ни одной</div>
}
@if (selected) {
  <div class="img-container" #imgContainer
    (window:resize)="adjustSvgHeight()"
    (click)="imgContainerClick()">
    <div class="svg-elem-wrapper" #svgElement></div>
    @if (deviceItemGroup) {
      <div
        [style.left]="digOverlayPosition.x + 'px'"
        [style.top]="digOverlayPosition.y + 'px'"
        #overlay
        class="dig-overlay">
        <app-device-item-group
          [group]="deviceItemGroup"
          [isEditorModeEnabled]="false"
        ></app-device-item-group>
      </div>
    }
  </div>
}
