<h1>Пространства</h1>
<hr>
<h2>Приглашения</h2>
<div class="spaces-invites-wrap">
	<div *ngFor="let space of spaces" class="spaces-invites-row">
		<div class="spaces-invites-name">{{space.name}}</div>
		<div class="spaces-invites-joinbtn"><button mat-raised-button>Присоединиться</button></div>
		<div class="spaces-invites-delbtn"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
	</div>

	<div *ngFor="let spacemine of spacesmine" class="spaces-invites-row">
		<div class="spaces-invites-name">{{spacemine.name}}</div>
		<div class="spaces-invites-username">{{spacemine.user}}</div>
		<div class="spaces-invites-userroles">
			<mat-form-field>
				<select matNativeControl required>
				  <option *ngFor="let role of spacemine.roles">{{role}}</option>
				</select>
			</mat-form-field>
		</div>
		<div class="spaces-invites-delbtn"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
	</div>
</div> <!-- spaces-invites-wrap -->

<hr>
<h2>Ссылки-приглашения</h2>
<div class="spaces-linkinvites-wrap">
	<div *ngFor="let spaceref of spacerefs" class="spaces-linkinvites-row">
		<div class="spaces-linkinvites-name">{{spaceref.space}}</div>
		<div class="spaces-linkinvites-refname">{{spaceref.name}}</div>
		<div class="spaces-linkinvites-refdate">{{spaceref.date}}</div>
		<div class="spaces-linkinvites-copybtn"><button mat-raised-button>Копировать</button></div>
		<div class="spaces-linkinvites-delbtn"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
	</div>
</div> <!-- spaces-linkinvites-wrap -->

<hr>
<div class="spaces-heading">
	<h2>Пространства</h2>
	<a routerLink="/space/add"><button class="mat-icon-button"><mat-icon>add</mat-icon></button></a>
</div>
<div class="spaces-wrap">
	<div *ngFor="let spacelist of spaceslist" class="spaces-row">
		<div class="spaces-name"><a routerLink="/space/1">{{spacelist.name}}</a></div>
		<div class="spaces-key">{{spacelist.key}}</div>
		<div class="spaces-adduserbtn"><button mat-icon-button><mat-icon>person_add</mat-icon></button></div>
		<div class="spaces-addlinkbtn"><button mat-icon-button><mat-icon>link</mat-icon></button></div>
		<div class="spaces-delbtn"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
	</div>

</div> <!-- spaces-linkinvites-wrap -->