<h1 i18n="@@SPACES.LIST.HEADING">Пространства</h1>
<ng-container *ngIf="spaceinvites.length > 0">
	<hr class="width-and-clear">
	<h2 i18n="@@SPACES.LIST.INVITES.HEADING">Приглашения</h2>
	<div class="spaces-invites-wrap">
		<div *ngFor="let invite of receivedInvites" class="float-row-with-padding">
			<div class="left-float">{{invite.spaceId}}</div>
			<div *ngIf="invite.userId != currentUser" class="left-float left-padding-10">{{invite.userId}}</div>
			<div *ngIf="invite.userId != currentUser" class="left-float left-padding-10">
				<mat-form-field>
					<select matNativeControl [(ngModel)]="invite.role">
					<option value="admin" i18n="@@SPACES.LIST.ADMINROLE">Администратор</option>
					<option value="user" i18n="@@SPACES.LIST.USERROLE">Пользователь</option>
					<option value="guest" i18n="@@SPACES.LIST.GUESTROLE">Гость</option>
					</select>
				</mat-form-field>
			</div>

			<div *ngIf="invite.creatorId != invite.userId && invite.userId == currentUser" class="left-float left-padding-10"><button mat-raised-button class="bright-button" i18n="@@SPACES.LIST.INVITES.JOINBTN">Присоединиться</button></div>

			<div *ngIf="invite.creatorId == invite.userId && invite.userId != currentUser" class="left-float left-padding-10"><button mat-raised-button i18n="@@SPACES.LIST.INVITES.APPROVEBTN">Одобрить</button></div>

			<div class="left-float left-padding-10"><button mat-icon-button (click)="onInviteDelBtn(invite)"><mat-icon>close</mat-icon></button></div>
		</div>
	</div>
	<mat-paginator #invitesPaginator *ngIf="spaceinvites.length > invitesPageSize" class="spaces-invites-wrap" [length]="spaceinvites.length" [pageSize]="invitesPageSize" (page)="pageEvent = getPaginatorInvites($event)"></mat-paginator> 
</ng-container>

<ng-container *ngIf="spacerefs.length > 0">
	<hr class="width-and-clear">
	<h2 i18n="@@SPACES.LIST.REFS.HEADING">Ссылки-приглашения</h2>
	<div class="width-and-clear">
		<div *ngFor="let ref of receivedRefs" class="float-row-with-padding">
			<div class="left-float">{{ref.space}}</div>
			<div class="left-float left-padding-10">{{ref.name}}</div>
			<div class="left-float left-padding-10">{{ref.date}}</div>
			<div class="left-float left-padding-10"><button mat-raised-button i18n="@@SPACES.LIST.REFS.COPYBTN" (click)="onRefCopyBtn(ref)">Копировать</button></div>
			<div class="left-float left-padding-10" (click)="onRefDelBtn(ref)"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
		</div>
	</div>
	<mat-paginator #refsPaginator *ngIf="spacerefs.length > refsPageSize" class="width-and-clear" [length]="spacerefs.length" [pageSize]="refsPageSize" (page)="pageEvent = getPaginatorRefs($event)"></mat-paginator> 
</ng-container>

<hr class="width-and-clear">
<div class="spaces-heading">
	<h2 i18n="@@SPACES.LIST.SPACES.HEADING">Пространства</h2>
	<a routerLink="/space/add"><button class="mat-icon-button"><mat-icon>add</mat-icon></button></a>
</div>
<div class="width-and-clear">
	<div *ngFor="let space of receivedSpaces" class="float-row-with-padding">
		<div class="left-float"><a routerLink="/space/1">{{space.name}}</a></div>
		<div class="left-float left-padding-10">{{space.key}}</div>
		<div class="left-float left-padding-10"><button mat-icon-button><mat-icon>person_add</mat-icon></button></div>
		<div class="left-float left-padding-10"><button mat-icon-button><mat-icon>link</mat-icon></button></div>
		<div class="left-float left-padding-10"><button mat-icon-button (click)="onSpaceDelBtn(space)"><mat-icon>close</mat-icon></button></div>
	</div>
	<mat-paginator #spacesPaginator *ngIf="spaces.length > spacesPageSize" class="width-and-clear" [length]="spaces.length" [pageSize]="spacesPageSize" (page)="pageEvent = getPaginatorSpaces($event)"></mat-paginator> 
</div>