:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.has-error {
    color: #ff3b30;
}

.width-and-clear {
	clear: both;
	width: 100%;
}

::ng-deep .mat-form-field-infix {
	width: 70px !important;
}

.spaces-invites-wrap{
	width: 100%;
	height: auto;
	clear: both;
	padding-bottom: 10px;
}

.left-float{
	float: left;
}

.left-padding-10{
	padding-left: 10px;
}

.float-row-with-padding{
	float: left;
	clear: both;
	padding-bottom: 15px;
}

.spaces-heading {
	padding-top: 10px;
	padding-bottom: 20px;
}

.spaces-heading h2, .spaces-heading button{
	display: inline;
}