<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isRateLimitReached">
    <div class="example-rate-limit-reached" i18n="@@LOG.WARNING">
      EventLog's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-header">
    <mat-form-field *ngIf="canExecScript">
      <input #cmdInput matInput (keyup.enter)="execScript($event.target.value)" i18n-placeholder="@@LOG.CMD" placeholder="Консольная команда" [value]="cmd">
      <button class="sendBtn" (click)="execScript(cmdInput.value)"><mat-icon>play_arrow</mat-icon></button>
    </mat-form-field>
  </div>

  <div class="progress-bar-container" [class.show]="showProgressBar">
    <mat-progress-bar [mode]="progressBarMode" [color]="progressBarColor" [value]="progressBarValue"></mat-progress-bar>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef i18n="@@LOG.TABLE.MESSAGE">Сообщение</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color">
          <button *ngIf="row.raw_value; else simpleValue" mat-raised-button (click)="openImg(row)" i18n="@@LOG2.VIEW">Посмотреть</button>
          <ng-template #simpleValue>{{ row.text }}</ng-template>
      </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="timestamp_msecs">
      <mat-header-cell *matHeaderCellDef
                       disableClear="true" i18n="@@LOG.TABLE.DATE">
        Дата
      </mat-header-cell>
      <mat-cell #dateCell *matCellDef="let row" [style.color]="row.color">{{ row.date | date:dateFormat(dateCell) }}</mat-cell>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon [matTooltip]="getUserName(row.user_id)">{{row.user_id?'person':'computer'}}</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.background-color]="row.bgColor"></mat-row>
  </mat-table>
</div>
