<h2 mat-dialog-title i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.HEADER">Тип элемента</h2>
<form [formGroup]="fg" (ngSubmit)="submit()" mat-dialog-content>
    <mat-form-field>
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.NAME">Имя элемента для использования в скриптах</mat-label>
        <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.TITLE">Отображаемое имя</mat-label>
        <input type="text" matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="with-link">
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.GROUP_TYPE">Тип группы</mat-label>
        <mat-select formControlName="group_type_id" [disabled]="disableGroupTypeChanging">
            <mat-option *ngFor="let groupType of groupTypes" [value]="groupType.id">{{ groupType.title || groupType.name }}</mat-option>
        </mat-select>
        <mat-hint *ngIf="!disableGroupTypeChanging">
            <a href="#" (click)="$event.preventDefault();newGroupType()"><small i18n="@@SCHEME_DIALOGS.ADD_NEW">Добавить новый(ую)</small></a>
        </mat-hint>
    </mat-form-field>
    <mat-form-field class="with-link">
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.SIGN_TYPE">Единица измерения</mat-label>
        <mat-select formControlName="sign_id">
            <mat-option [value]="0" i18n="@@CONTROL.NO">Нет</mat-option>
            <mat-option *ngFor="let sign of signTypes" [value]="sign.id">{{ sign.name }}</mat-option>
        </mat-select>
        <mat-hint>
            <a href="#" (click)="$event.preventDefault();newSignType()"><small i18n="@@SCHEME_DIALOGS.ADD_NEW">Добавить новый(ую)</small></a>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.REGISTER_TYPE">Тип данных элемента</mat-label>
        <mat-select formControlName="register_type">
            <mat-option *ngFor="let registerType of registerTypes" [value]="registerType.id">{{ registerType.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.SAVE_ALGO">Алгоритм сохранения</mat-label>
        <mat-select formControlName="save_algorithm">
            <mat-option *ngFor="let algo of saveAlgos" [value]="algo.id">{{ algo.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="fg.controls['save_algorithm'].value === Save_Algorithm.SA_BY_TIMER || fg.controls['save_algorithm'].value === Save_Algorithm.SA_BY_TIMER_ANY_CASE">
        <mat-label i18n="@@SCHEME_DIALOGS.DEVICE_ITEM_TYPE.SAVE_TIMER">Таймер сохранения</mat-label>
        <mat-select formControlName="save_timer_id">
            <mat-option *ngFor="let timer of saveTimers" [value]="timer.id">{{ timer.interval }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" i18n="@@CONTROL.SAVE">Сохранить</button>
    <button type="button" mat-raised-button (click)="cancel()" i18n="@@CONTROL.CANCEL">Отмена</button>
</form>
