__pycache__
build*
compile_commands.json
.cache/
.ccache/
.idea/
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/cmake-variants.yaml
!.vscode/README.md
!.vscode/launch.json
!.vscode/tasks.json
.cores/
.pgdata/
cmake-build-*
Testing/
.DS_Store
Makefile.local
