<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel hideToggle [expanded]="1" #slist>
        <mat-expansion-panel-header>
            <mat-panel-title><p i18n="@@SETTINGS.MODE_TYPE.TITLE">Типы режимов автоматизации</p></mat-panel-title>
            <mat-panel-description>
                <ng-container i18n="@@CONTROL.TOTAL">Всего</ng-container>: {{items.length}}
                <span *ngIf="changed">
          <button mat-icon-button (click)="save($event)"><mat-icon>save</mat-icon></button>
          <button mat-icon-button (click)="cancel($event)"><mat-icon>cancel</mat-icon></button>
        </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button class="mybtn" (click)="create(); slist.close()" i18n="@@SETTINGS.MODE_TYPE.ADD">Добавить тип режима</button>
        <ul class="schemes">
            <ng-container *ngFor="let item of items">
                <li *ngIf="item.state !== changeState.Delete" [class.selected]="sel_item == item">
                    <a class="pre_badge" (click)="select(item); slist.close()">
                        <span class="badge badge_id" [class.badge_changed]="item.state === changeState.Upsert">{{item.obj.id}}</span>
                        {{item.obj.title}}
                    </a>
                    <button class="mybtn delete" i18n-title="@@SETTINGS.MODE_TYPE.DELETE" title="Удалить тип режима" (click)="remove(item)">x</button>
                </li>
            </ng-container>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel expanded hideToggle *ngIf="sel_item">
        <mat-expansion-panel-header>
            <mat-panel-title i18n="@@SETTINGS.DETAILS">Детали</mat-panel-title>
            <mat-panel-description>
                {{sel_item.obj.title}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.name" i18n-placeholder="@@SETTINGS.NAME" placeholder="Имя"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.title" i18n-placeholder="@@SETTINGS.HEADER" placeholder="Заголовок"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label i18n="@@SETTINGS.DIG_TYPE">Тип группы</mat-label>
            <mat-select [(ngModel)]="sel_item.obj.group_type_id" (ngModelChange)="itemChanged()">
                <mat-option *ngFor="let groupType of groupTypes" [value]="groupType.id">{{ groupType.title || groupType.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>
