.app-toolbar__user-name {
	text-decoration: underline;
}

.dropdown-user-menu {
	position: absolute;
	bottom: -170px;
	right: 0;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 1px 2px 29px -15px rgba(0,0,0,0.75);
	width: 180px;
	display: none;
	z-index: 600;
}

.drop-down-overlay {
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

.dropdown-user-menu a {
	display: inline-block;
	padding: 1em 1.5em;
	font-size: 0.9em;
	box-sizing: border-box;
	color: #000 !important;
}

.dropdown-user-menu a {
	color: #4a5f9d;
	text-decoration: underline;
}

.dropdown-user-menu ::ng-deep .mat-badge-content {
	left: 8px !important;
	top: 8px !important;
}

.app-toolbar__user {
	position: relative;
}

.app-toolbar__user {
	cursor: pointer;
}

.app-toolbar__menu-link, .app-toolbar__user-link {
	text-decoration: none;
}

.app-toolbar__menu-link, .app-toolbar__user{
	display: flex;
	align-items: center;
}

.app-toolbar__menu-link {
	background-color: inherit;
	padding: 0;
	margin: 0;
}

.inactiveLink {
	pointer-events: none;
	cursor: default;
	color: #e1e1e1 !important;
}

.force-visible {
	display: inline-block;
}