@if (scheme) {
  <div>
    <h2><span i18n="@@DETAILS.HEAD">Подробнее о проекте</span>: «{{ scheme.title | uppercase }}»</h2>
    <div><span i18n="@@DETAILS.ID">Ид</span>: {{scheme.id}}</div>
    <div><span i18n="@@DETAILS.NAME">Имя</span>:
    @if (!nameEditing) {
      <span [class.name-field]="canChangeName" (click)="changeName(nameEdit)">{{scheme.name}}
        @if (canChangeName) {
          <mat-icon>edit</mat-icon>
        }</span>
      }
      <input #nameEdit [style.display]="nameEditing ? '' : 'none'" class="name-edit" mat-input [value]="scheme.name"
        (keydown.enter)="saveName(nameEdit.value)" (keydown.esc)="cancel_name_edit()">
      @if (nameEditing) {
        <div class="crtn" (click)="cancel_name_edit()"></div>
      }
    </div>
    <div><span i18n="@@DETAILS.VERSION">Версия</span>: {{scheme.version}}</div>
    <div>
      <label>
        <ng-container i18n="@@DETAILS.TITLE">Заголовок</ng-container>:
        <input [(ngModel)]="scheme.title" placeholder="title">
      </label>
    </div>
    <div>
      <mat-form-field class="sline-item search-comp">
        <mat-label i18n="@@CITY">Город</mat-label>
        <mat-select [(value)]="scheme.city">
          <mat-option value="0" i18n="@@NOT_SELECTED">Не выбрано</mat-option>
          @for (c of cities; track c) {
            <mat-option [value]="c.id">{{c.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="sline-item search-comp">
        <mat-label i18n="@@COMPANY">Компания</mat-label>
        <mat-select [(value)]="scheme.company">
          <mat-option value="0" i18n="@@NOT_SELECTED">Не выбрано</mat-option>
          @for (c of comps; track c) {
            <mat-option [value]="c.id">{{c.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label class="desc_label"><span i18n="@@DETAILS.DESCRIPTION">Описание</span>:
      <textarea [(ngModel)]="scheme.description" i18n-placeholder="@@DETAILS.DESCRIPTION"
      placeholder="Описание"></textarea>
    </label>
  </div>
  <button mat-raised-button i18n="@@DETAILS.COPY_ALL_PARAMS_FROM">Скопировать все уставки из...</button>
  <div>
    <app-item-scheme-groups-list
      [items]="schemeGroups"
      (add)="addToSchemeGroup($event)"
      (remove)="removeFromSchemeGroup($event)"
    ></app-item-scheme-groups-list>
  </div>
</div>
}
<button mat-button (click)="goBack()" i18n="@@CONTROL.BACK">Назад</button>
@if (scheme) {
  <button mat-button routerLink="/scheme/{{scheme.id}}/manage" i18n="@@CONTROL.OPEN">Открыть</button>
}
@if (can_save) {
  <button mat-button (click)="save()" i18n="@@CONTROL.SAVE">Сохранить</button>
}
