:host {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::ng-deep .mat-form-field-infix {
	width: 70px !important;
}

.has-error {
	color: #ff3b30;
}

.width-and-clear {
	clear: both;
	width: 100%;
}

.space-links-heading h2,
.space-links-heading button {
	display: inline;
}

.left-float{
	float: left;
}

.left-padding{
	padding-left: 10px;
}

.space-links-heading {
	padding-top: 10px;
	padding-bottom: 20px;
}

.row{
	float: left;
	clear: both;
	padding-bottom: 15px;
}

::ng-deep .mat-mdc-paginator-container {
	width: auto !important;
}

::ng-deep .mat-tooltip  {
	color: black !important;
  }
