<h1>{{title}}</h1>
	<hr class="width-and-clear">
	<div class="space-invites-heading">
		<h2>Приглашения</h2>
		<button mat-icon-button><mat-icon>add</mat-icon></button>
	</div>
	<div class="width-and-clear">
		<div *ngFor="let invite of invites" class="row">
			<div class="left-float">{{invite.user}}</div>
			<div class="left-float left-padding">
				<mat-form-field>
					<select matNativeControl [(ngModel)]="invite.role">
						<option value="admin">admin</option>
						<option value="user">user</option>
						<option value="guest">guest</option>
					</select>
				</mat-form-field>
			</div>
			<div class="left-float left-padding"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
		</div>
	</div>

	<hr class="width-and-clear">
	<div class="space-linkinvites-heading">
		<h2>Ссылки-приглашения</h2>
		<button mat-icon-button><mat-icon>add</mat-icon></button>
	</div>
	<div class="width-and-clear">
		<div *ngFor="let link of links" class="row">
			<div class="left-float">{{link.name}}</div>
			<div class="left-float left-padding">{{link.date}}</div>
			<div class="left-float left-padding"><button mat-raised-button>Копировать</button></div>
			<div class="left-float left-padding"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
		</div>
	</div>

	<hr class="width-and-clear">
	<h2>Пользователи</h2>
	<div class="width-and-clear">
		<div *ngFor="let user of users" class="row">
			<div class="left-float">{{user.name}}</div>
			<div class="left-float left-padding">{{user.login}}</div>
			<div class="left-float left-padding">
				<mat-form-field>
					<select matNativeControl [(ngModel)]="user.role">
						<option value="admin">admin</option>
						<option value="user">user</option>
						<option value="guest">guest</option>
					</select>
				</mat-form-field>
			</div>
			<div class="left-float left-padding">vasya112@example.com</div>
			<div class="left-float left-padding"><button mat-icon-button><mat-icon>close</mat-icon></button></div>
		</div>
	</div>