<form [formGroup]="fg" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label i18n="@@SCHEME_GROUPS.GROUP_TITLE">Название</mat-label>
        <input type="text" matInput formControlName="name">
    </mat-form-field>

    <button *ngIf="!fg.value.id; else editRemoveButtons" mat-button i18n="@@CONTROL.CREATE" type="submit">Создать</button>

    <ng-template #editRemoveButtons>
        <button mat-button i18n="@@CONTROL.EDIT" type="submit">Изменить</button>
        <button mat-button i18n="@@SCHEME_GROUPS.REMOVE" type="button" (click)="remove()">Удалить</button>
    </ng-template>
</form>
