@if (statusType.inform && items) {
  <div>
    @if (items.length) {
      <ul>
        @for (item of items; track item) {
          @if (item.state != itemState.Removed) {
            <li>
              @if (item.state != itemState.Adding) {
                <span [class.green-btn]="item.state != itemState.Init">{{item.title}}</span>
              } @else {
                <mat-form-field appearance="fill">
                  <mat-label i18n="@@STATUS.ITEMS_GROUP">Группа элементов</mat-label>
                  <mat-select [value]="0" #elem>
                    <mat-option [value]="0" i18n="@@STATUS.ITEMS_GROUP_CURRENT">Текущая</mat-option>
                    <mat-option [value]="1" i18n="@@ALL">Все</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label i18n="@@STATUS.USERS_GROUP">Группа пользователей</mat-label>
                  <mat-select [value]="0" #auth>
                    <mat-option [value]="0" i18n="@@ALL">Все</mat-option>
                    @for (x of manage.authGroups; track x) {
                      <mat-option [value]="x.id">{{x.name}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button mat-icon-button class="green-btn" (click)="save(item, elem.value, auth.value)">
                  <mat-icon>save</mat-icon>
                </button>
              }
              <button mat-icon-button class="red-btn" (click)="remove(item)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </li>
          }
        }
      </ul>
    } @else {
      Нет
    }
    <button mat-icon-button (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
} @else {
  @if (statusType.inform) {
    <span i18n="@@STATUS_TYPE.BY_SCHEME">По управляющей схеме</span>
  }
  @if (!statusType.inform) {
    <span i18n="@@STATUS_TYPE.IN_SCHEME">В схеме</span>
  }
}
