<div class="scheme-state">
  @if (isSchemeConnected) {
    <button
      class="scheme-state-icon scheme-state-icon--{{status_class[most_bad_status]}}"
      (click)="toggleModal($event)"
      #tooltip="matTooltip"
      [matTooltip]="status_desc()"
      (mouseenter)="tooltip.toggle()"
      (mouseleave)="tooltip.toggle()"
      >
      <div class="scheme-state-icon__num">{{messages?.length}}</div>
      <mat-icon class="scheme-state-icon_little {{ get_status_class() }}"></mat-icon>
    </button>
  }

  @if (!isSchemeConnected) {
    <button class="scheme-state-icon" (click)="toggleModal($event)"
      #tooltip="matTooltip"
      [matTooltip]="status_desc()"
      (mouseenter)="tooltip.toggle()"
      (mouseleave)="tooltip.toggle()"
      style="background: initial;">
      <mat-icon class="status_bad"></mat-icon>
      <i class="scheme-state-icon scheme-state-icon_little scheme-state-icon--{{ status_class[most_bad_status] }}"></i>
    </button>
  }

  @if (isModalOpen) {
    <div class="scheme-state-modal">
      <div class="scheme-state-modal__tooblar">
        <div class="scheme-state-modal__tooblar-spacer"></div>
        <button i18n="@@SCHEME_STATE.CLOSE" class="scheme-state-modal__close-btn" (click)="toggleModal($event)">
                Закрыть
            </button>
      </div>
      <div><span i18n="@@SCHEME_STATE.CONNECTION_STATE">Подключение</span>: {{ status_desc() }}</div>
      @if (messages) {
        <div class="scheme-state-msgs-list">
          @for (msg of messages; track msg) {
                <div class="scheme-state-msg
           scheme-state-msg--{{status_class[msg.status]}}" (click)="toggleModal($event)">
              <div class="scheme-state-msg__title">{{msg.where}}</div>
              <div class="scheme-state-msg__text">{{msg.text}}</div>
            </div>
          }
          @if (messages.length === 0) {
            <div class="scheme-state-alright" i18n="@@SCHEME_STATE.ALL_RIGHT">
                Всё хорошо
            </div>
          }
        </div>
      }
    </div>
  }
</div>
