.heading {
	text-align: center;
}
.heading > * {
	display: inline-block;
	margin-left: 16px;
}

.row {
	padding: 0px 16px 8px 16px;
}
.row > div {
	display: inline-block;
	margin: auto;
	padding-right: 16px;
}

@media (min-width:800px) {
	.row {
		display: flex;
	}
	.fill-width {
		flex: 1;
		width: 100%;
	}
}

hr {
	width: 75%;
}

.red {
	color: red;
}
